<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <link
      rel="icon"
      href="https://imfd.cl/wp-content/uploads/2018/12/cropped-IMFD-Home-1-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="https://imfd.cl/wp-content/uploads/2018/12/cropped-IMFD-Home-1-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://imfd.cl/wp-content/uploads/2018/12/cropped-IMFD-Home-1-180x180.png"
    />
    <title>Reporte COVID-19 :: IMFD</title>
  </head>
  <body>
    <noscript>
      <strong>Esta página no funciona sin javascript :(. Por favor actívelo</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
